<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theory Questions</title>

    <link rel="stylesheet" href="/mobile.css" media="(max-width: 767px)">
    <link rel="stylesheet" href="/desktop.css" media="(min-width: 1024px)">

</head>
<body>

<div class="container">

<h1>Past Questions & Answers</h1>

<% questions.forEach((q, index) => { %>

<div class="question-box">

    <h3>
        Question <%= index + 1 %>
    </h3>

    <p><strong><%= q.question %></strong></p>

    <p>A. <%= q.optionA %></p>
    <p>B. <%= q.optionB %></p>
    <p>C. <%= q.optionC %></p>
    <p>D. <%= q.optionD %></p>

    <p style="color: green;">
        <strong>Answer:</strong> <%= q.answer %>
    </p>

    <hr>

</div>

<% }) %>

</div>

</body>
</html>
